<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <!-- Button to trigger "Back to Home" -->
        <a href="{{ url_for('index') }}" class="btn btn-outline-primary mb-3">
            Home
        </a>
        <a href="{{ url_for('editor') }}" class="btn btn-outline-secondary mb-3">
            PlaqueBoard
        </a>
        <a href="{{ url_for('manage_secrets') }}" class="btn btn-outline-secondary mb-3">
            Secrets
        </a>
        <a href="{{ url_for('manage_commands') }}" class="btn btn-outline-secondary mb-3">
            Commands
        </a>
<div>
        <img width="800" src="https://imgproxy.fourthwall.com/LX2rwu6vku3svJ-otu_waOo0aqBrbTb8zKhE5Q9wuFY/w:240/sm:1/enc/Y2MxMjhiMDY0ZWE4/YmMyYZgI5YYNEdwl/rHYlp-joVx3aufzb/h-CXKzg6n7bx_UwJ/O4SnxBKh9I5Ui8H8/hAtepclE31OLXtPH/JtIouxhM87jDlJQy/d05Vh3aA5GijJvfr/MVi6C6sNILkl3IqY/t76-W8JDul91OGUG/h7x4oY-aN_fhWlFj/9EU-AOYNLsO4prSc/N1pRqYVW1gu1pMwu/IpHNvCUtla2VFSoP/PwsjkCpHB9cnqr4m/1E0SQ5FtFaBzNRUd.webp">
    </div> 
    Something will be here in a next version, but for now only this logo.   
    </div>
        </body>
        </html>